collision_training.py
carpix/active.png
carpix/image000.png
carpix/image001.png
carpix/image002.png
carpix/image003.png
carpix/image004.png
carpix/image005.png
carpix/image006.png
carpix/image007.png
carpix/image008.png
carpix/image009.png
__pycache__/AirSimClient.cpython-38.pyc
__pycache__/AirSimClient.cpython-310.pyc
__pycache__/image_helper.cpython-38.pyc
__pycache__/image_helper.cpython-310.pyc
__pycache__/tf_softmax_layer.cpython-38.pyc
__pycache__/tf_softmax_layer.cpython-310.pyc
airsim/__pycache__/__init__.cpython-38.pyc
airsim/__pycache__/__init__.cpython-310.pyc
airsim/__pycache__/client.cpython-38.pyc
airsim/__pycache__/client.cpython-310.pyc
airsim/__pycache__/types.cpython-38.pyc
airsim/__pycache__/types.cpython-310.pyc
airsim/__pycache__/utils.cpython-38.pyc
airsim/__pycache__/utils.cpython-310.pyc
params.pkl
